.job-card {
  border: 1px solid var(--grayed-item);
}

#listings {
  overflow: hidden scroll;
  height: inherit;
}

.grayed {
  color: var(--grayed-item);
}

#listings {
  width: 33%;
}

#wrapper {
  margin: 32px 160px;
  border: 1px solid var(--grayed-item);
  height: 700px;
  display: flex;
}

#job-view {
  width: 67%;
  overflow: hidden scroll;
  height: inherit;
}

#job-view > div {
  margin: 32px;
}

.job-header, .job-subheader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 1;
}

.desc p {
  line-height: 2.25;
}

#bar-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}