@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 1rem 0 0 0;
  }

  nav ul {
    gap: 2rem;
  }

  #dropdown {
    max-width: 40%;
  }

  #dropdown li{
    line-height: 1;
  }

  #search-icon, #pin-icon {
    display: none;
  }

  .search-form {
    margin: 0;
    width: 68vw;
  }

  .search-form input {
    font-size: 12px;
    padding: 0;
  }  

  .autocomplete {
    width: fit-content;
    max-height: 150px;    
  }
  
  footer {
    text-align: center;
  }

  footer > div {
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
  }

  footer ul {
    padding: 0;
  }

  footer li {
    margin: 4px 0;
  }

  html, body {
    overflow-x: hidden;
  }
} 